body{
    background-color: beige; 
    color: brown;
}

#parrafo {
    color: #ff0000;
}

.span{
    color: rgb(0, 0, 0);
}

.caja {
    height: 300px;
    width: 1000px;
    margin: 8px;
    padding: 8px;
    border-style: double;
    background-color: coral;
    border-left: 3px solid #000000;
    border-radius: 8px;
}